[paths]
source =
   src/flask_authentic
   */site-packages/flask_authentic

[run]
branch = true
source =
    flask_authentic
    tests
parallel = true
omit = */__main__.py

[report]
show_missing = true
precision = 2
omit = *migrations*
